<% var stylesheets = [''] %>
<% include partials/header %>

<div id="app">
	<p>Something is terribly wrong, or you have javascript disabled</p>
</div>

<% var scripts=[''] %>
<% include partials/footer %>
